@import "bootstrap";


.image-fluid {
  align: center;
}

.home_pic {
  background: image_url('homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  box-shadow: 5px 5px 2px black;
  margin-right:5px;
}

body {
  background: black;
}

.logo {
  margin-left: 40px;
  margin-top: -8px;
  font-size: 20px;
  color:white;
}

.slogan {
  font-color: white;
}

.form-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  padding-bottom:47px;
  margin-left:100px;
  margin-right:100px;
}