@import "bootstrap";

h1, h2 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.image-fluid {
  align: center;
}

.home_pic {
  background: image_url('homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  box-shadow: 5px 5px 2px black;
  margin-right:5px;
}

body {
  background: #e60000;
}